@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Billing System</h1>
    <p>Products</p>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.ProductPrice</td>
                </tr>
            }
        </tbody>
    </table>
</div>

