@model IEnumerable<BillingSystem.EntityLayer.Concrete.Table>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1 class="text-center">Tables</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">@item.TableName @item.TableId</h2>
                        <h5 class="card-title text-center mb-4">
                            @if (item.IsOccupied.Equals(true))
                            {
                                <span class="badge text-bg-success">Free</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger">Busy</span>
                            }
                        </h5>
                        <div class="text-center fs-5">
                            <a asp-area="Admin" asp-controller="AdminOrder" asp-action="CreateOrder" asp-route-id="@item.TableId" class="btn btn-primary w-100">Masayı aç</a>
                            <a asp-area="Admin" asp-controller="AdminOrderItem" asp-action="CreateOrderItem" asp-route-id="@item.TableId" class="btn btn-primary w-100 mt-3">Masaya ürün ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

