@model BillingSystem.EntityLayer.Concrete.Order

@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    if (ViewData["tableId"] == null)
    {
        ViewData["tableId"] = "defaultTableId"; // Set your default value here
    }
}

<h1>CreateOrder</h1>

<h4>Order - Table @ViewBag.TableId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TableId" class="control-label"></label>
                <input type="hidden" asp-for="TableId" value="@ViewBag.TableId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
